{% extends 'store/Can_Ant_main.html' %}
{% load static %}
{% block content %}

<style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
  }
  
  body {
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2rem;  
  }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }
    
    .sidebar a {
      display: block;
      color: black;
      text-decoration: none;
      padding: 10px 0;
    }
 
    .content {
      flex: 1;
      padding: 20px;
      margin-left: 4rem;
      width: 50rem;

    }

    .job-listings {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      {% comment %} justify-content: center;
      max-width: calc(100% - 220px); {% endcomment %}
      margin: 0 auto;
      padding: 20px;
    }

    /* ... Existing job card styles ... */

    .logout-button {
      display: block;
      width: 50%;
      padding: 10px;
      background-color: #e74c3c;
      border: none;
      border-radius: 5px;
      color: black;
      cursor: pointer;
      font-weight: 500;
      margin: 20px;
      transition: background-color 0.3s;
    }

    .logout-button a{
      color: black;
      text-decoration: none;
      font-size: 1rem;
    }

    .logout-button:hover {
      background-color: red;
    }
    
    .job-card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 5px 5px 5px grey;
      width: 300px;
      {% comment %} height: 300px; {% endcomment %}
      margin: 20px;
      padding: 15px;
      position: relative;
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
    
    .job-card:hover {
      transform: translateY(-5px);
    }
    
    .active-tag {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: #28a745;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      font-size: 15px;
    }
    
    .job-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }
    
    .job-location {
      color: #777777;
    }
    
    .job-details p {
      margin: 5px 0;
      font-size: 18px;
    }
    
    .apply-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #28a745;
      border: none;
      border-radius: 5px;
      color: black;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.3s;
      margin-top: 40px;
    }
    
    .apply-button a{
      font-size:16px;
    }

    .apply-button:hover {
      background-color: green;
    } 
  </style>

  <main>
    <div class="prof_home_header">
        <nav class="prof_home_navbar">
            <p class="prof_home_logo">Profile</p>
                <a class="profile-icon-link-container" href="profile.html">
                    <img src="/media/defaultuser.svg" alt="profile-icon">
                    <span class="header-username">Hello, {{user.user_name}}</span>
                </a>
        </nav>
    </div>

    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', ()=> {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })

    </script>


    <div class="main-container">
      <div class="container" style="width: 25%;">
        <div class="container-profile">
            <div class="profile-photo-container">
                <img src="{{user.profile.user_profile_image.url}}" alt="User Image" width="100px">
            </div>


            <div class="user-content-container">
                <p class="username">{{user.profile.user_name}}</p>
                <p class="user-title">{{user.profile.user_designation}}</p>
                <p class="user-desc">{{user.profile.user_bio}}</p>
                <div class="profile-edit-link-container">
                    <a href="/myprofile/">Edit</a>
                </div>
            </div>
        </div>
        <nav class="sidebar">
          <ul>
            <li><a href="{% url 'dash' %}"><i class='bx bxs-user'></i> Dashboard</a></li>
            <li><a href="{% url 'applylist' %}"><i class='bx bx-folder-plus'></i> My Plan</a></li>
            {% comment %} <li><a href="{% url 'postjob' %}"><i class="fas fa-plus-circle"></i> New Plan Post</a></li> {% endcomment %}
          </ul>
        </nav>
        <button class="logout-button"><a href="{% url 'logout' %}">Logout</a></button>
      </div>

      <div class="container">
        <div class="job-listings">
          {% for plan in planposts %}
            <div class="job-card">
              <div class="active-tag" >Active</div>
              
              <div class="job-header">
                <h3 >{{plan.title}}</h3>
                <span class="job-location" >{{plan.address}}</span>
              </div>
              <div class="job-details">
                <p>Plan: {{plan.name}}</p>
                <p>Amount: Rs. {{plan.amountLow}} - Rs. {{plan.amountHigh}}</p>
                <p>Last Date: {{plan.lastDateToApply}}</p>
              </div>
              <button class="apply-button"><a href="{% url 'apply' plan.id %}" style="text-decoration: none;
                color: inherit;">Apply Now</a></button>
            </div>
          {% endfor %}
            <!-- Add more job cards here -->
          </div>
      </div>
  </div>
  </main>

  <script src="/static/JavaScript/script.js"></script>

{% endblock content %}